.title{
position: static;
width: 93px;
height: 17px;
left: 20px;
top: 12px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 17px;
/* identical to box height */
color: #FFFFFF;
}